@import "../valo/valo.scss";

@import "cards/cards.scss";

@keyframes slice {
    from { opacity: 0; left: 2000px; }
    to { opacity: 1; left: 800px; }
}

@mixin PackageTrackerUITheme {
  @include valo;

  .mainLayout {
    width: 10000px;
    //overflow: hidden;
  }

  /* White background for the entire UI */
  body {
    overflow: auto !important;
    background-color: #2f3534 !important;
  }

  &.v-app {
    overflow: auto !important;
  }

  .v-ui {
    background-color: #2f3534;
    overflow: auto !important;
    /* background: url("img/sample-bg.png"); */

    .DetailView {
      background-color: #2f3534;
      border-top: 8px solid #31baff;
    }
  }

  .slice {
    position: relative;
    animation: slice 1s ease;
    border: 1px solid #ddd;
    height: 100%;
    width: 400px;
    left: 800px;
  }

  .titleLabel {
    font-size: 30px;
    color: #ddf4ff;
    font-weight: 600;
  }

  .leftSide {
    padding: 0px;
  }

  .rightSide {
    background-color: black;
    border: 1px solid #989898;
    border-radius: 6px;
    padding: 0px;
  }

  .logLayout {
    color: white;
    padding: 4px;
    font-weight: 600;

    .v-spacing {
      margin: -4px;
    }
  }

  .v-slot-logLayout {
    overflow-y: scroll;
  }

  .v-caption-rightSide {
    font-size: 16px;
    color: #ddf4ff;
    font-weight: 600;
  }

  .logLabel {
    font-size: 16px;
    /* border: 1px solid #989898; */
    padding: 8px;
    width: 100%;
    white-space: normal;
    border-left: 8px solid #31baff;
    margin: 2px;
  }

  .v-caption-topicSelector {
    font-size: 16px;
    color: #ddf4ff;
    font-weight: 600;
  }

  .v-select-topicSelector {
    .v-select-select {
      background: none;
      background-color: black;
      font-size: 16px;
      color: #ddf4ff;
      font-weight: 600;
    }
  }
}
