@import "../valo/valo.scss";

@keyframes slice {
    from { opacity: 0; left: 2000px; }
    to { opacity: 1; left: 800px; }
}

@keyframes truckAnimation {
    from { bottom: 0px; }
    to { bottom: 2px; }
}

@keyframes loginAnimation {
  0%  { left:-5px; }
  50% { left:5px; }
  100%  { left:-5px; }
}

@mixin PackageTrackerUITheme {
  @include valo;

  .mainLayout {
    width: 10000px;
    overflow: hidden;
  }

  /* White background for the entire UI */
  .v-ui {
    background: url("img/sample-bg.png")
    overflow: hidden;
  }

  .slice {
    position: relative;
    animation: slice 1s ease;
    border: 1px solid #ddd;
    height: 100%;
    width: 400px;
    left: 800px;
  }

  .truckAnimation {
    position: relative;
    animation: truckAnimation 0.1s infinite ease;
  }

  .loginAnimation {
    position: relative;
    animation: loginAnimation 2.0s infinite ease;
    width: 300px;
  }
}
